{{ define "main" }}
<section class="jddf-index-section jddf-index-section1">
  <div class="jddf-index-section__inner">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"
        >
          <h1 class="mdc-typography--headline3 jddf-index-section1-header">
            Be more productive with JSON
          </h1>
          <p class="mdc-typography--body1 jddf-index-section1-subtitle">
            JDDF is a <strong>schema language for JSON</strong> that you can use
            to generate validators and types for any language.
          </p>

          <a
            class="mdc-button mdc-button--raised jddf-index-section1-cta-button"
            href="/docs/getting-started.html"
          >
            <span class="mdc-button__label">Get started</span>
            <i class="material-icons mdc-button__icon" aria-hidden="true">
              arrow_forward
            </i>
          </a>
        </div>
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-1-desktop"
        ></div>
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-5-desktop"
        >
          <div class="mdc-card jddf-index-section1-card">
            <div class="jddf-index-section1-card-top">
              <code>
                <pre>
{
  "properties": {
    "id": { "type": "string" },
    "createdAt": { "type": "timestamp" },
    "favoriteNumbers": {
      "elements": { "type": "float64" }
    }
  },
  "optionalProperties": {
    "deletedAt": { "type": "timestamp" }
  }
}</pre>
              </code>
            </div>
            <div class="mdc-card__actions">
              <button class="mdc-button mdc-card__action mdc-card__action--button jddf-index-section1-card-button" disabled>
                <code>user.jddf.json</code>
              </button>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="jddf-index-section">
  <div class="jddf-index-section__inner">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2 class="mdc-typography--headline3">
            Solve your JSON headaches
          </h2>
        </div>
      </div>

      <div class="mdc-layout-grid__inner">
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop"
        >
          <h3 class="mdc-typography--headline5">
            Cross-platform consistency
          </h3>

          <p class="mdc-typography--body1">
            Run input validation anywhere, get conistent results. JDDF is a
            platform-independent way describe the shape of your data, and every
            implementation produces the exact same validation errors.
          </p>
        </div>

        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop"
        >
          <h3 class="mdc-typography--headline5">
            Type system integration
          </h3>

          <p class="mdc-typography--body1">
            What good is a schema that your type system can't use? Generate
            TypeScript interfaces, Golang structs, Java classes, and much more
            from your schemas using the <code>jddf-codegen</code> tool.
          </p>
        </div>

        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop"
        >
          <h3 class="mdc-typography--headline5">
            Docs and UI generation
          </h3>

          <p class="mdc-typography--body1">
            The <code>jddf-codegen</code> tool can generate markdown
            documentation of your schema, and <code>jddf-react</code> can
            generate <a href="https://reactjs.org/">React</a> UIs from JDDF
            schemas. Plus, JDDF is dead simple, so it's easy to build your own
            tooling too.
          </p>
        </div>
      </div>

      <div class="mdc-layout-grid__inner">
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop"
        >
          <a
            class="mdc-button mdc-button--outlined"
            href="/docs/implementations.html"
          >
            <span class="mdc-button__label">View implementations</span>
          </a>
        </div>

        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop"
        >
          <a
            class="mdc-button mdc-button--outlined"
            href="/docs/tools/jddf-codegen.html"
          >
            <span class="mdc-button__label"
              >More on <code>jddf-codegen</code></span
            >
          </a>
        </div>

        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-4-desktop"
        >
          <a
            class="mdc-button mdc-button--outlined"
            href="https://github.com/jddf/jddf-react"
          >
            <span class="mdc-button__label"
              >More on <code>jddf-react</code></span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="jddf-index-section jddf-index-section3">
  <div class="jddf-index-section__inner">
    <div class="mdc-layout-grid">
      <div class="mdc-layout-grid__inner">
        <div class="mdc-layout-grid__cell mdc-layout-grid__cell--span-12">
          <h2 class="mdc-typography--headline3">
            Simple by design
          </h2>
        </div>
      </div>

      <div class="mdc-layout-grid__inner">
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"
        >
          <h3 class="mdc-typography--headline4">
            Learn all of JDDF in 5 minutes
          </h3>

          <p class="mdc-typography--body1">
            Seriously. If you've used JSON before, and you've used a type system
            before, you can probably learn all of JDDF in less time than it
            takes to brew a coffee.
          </p>
        </div>

        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"
        >
          <h3 class="mdc-typography--headline4">
            JDDF-ify your existing data easily
          </h3>

          <p class="mdc-typography--body1">
            Just put some example data into a file or stream, run the
            <code>jddf-infer</code> tool on it, and a working schema will pop
            out. It all runs on your machine, so your data is secure.
          </p>
        </div>
      </div>

      <div class="mdc-layout-grid__inner">
        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"
        >
          <a class="mdc-button mdc-button--outlined" href="/tutorial.html">
            <span class="mdc-button__label">Learn JDDF in 5 minutes</span>
          </a>
        </div>

        <div
          class="mdc-layout-grid__cell mdc-layout-grid__cell--span-6-desktop"
        >
          <a
            class="mdc-button mdc-button--outlined"
            href="/docs/tools/jddf-infer.html"
          >
            <span class="mdc-button__label"
              >More on <code>jddf-infer</code></span
            >
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
{{ end }}
